*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    font-family: sans-serif;
}

body
{
    background-color: #232323;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container
{

}
#game-container h1
{
    text-align: center;
}
.game-data
{
    display: flex;
    justify-content: space-around;

    background-color: rgb(15, 48, 89);
}
.game-data-item
{
    display: flex;
    align-items: center;
    padding: .5em;

    font-size: 1.5em;
}


/**/
#board
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}
.square {
    width: 30px;
    height: 30px;
    background-color: gray;
    border: 1px solid rgb(129, 129, 211);
}
.obstacle {
    width: 100%;
    height: 100%;
}

.snake-head {

}

.snake-tail {
    
}

/* Animations */